### Funciones

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [2]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [3]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

### Tipos y secuencias

In [5]:
type('This is a string')

str

In [6]:
type(None)

NoneType

In [7]:
type(1)

int

In [8]:
type(add_numbers)

function

In [9]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [10]:
x = [1, 'a', 2, 'b']
type(x)

list

In [11]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [12]:
for item in x:
    print(item)

1
a
2
b
3.3

In [13]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [14]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [15]:
[1]*3

[1, 1, 1]

In [16]:
1 in [1, 2, 3]

True

In [17]:
x = 'This is a string'
print(x[0]) #Primer caracter
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #Dos primeros caracteres

T
T
Th

In [18]:
x[-1]

'g'

In [19]:
x[-4:-2]

'ri'

In [20]:
x[:3]

'Thi'

In [21]:
x[3:]

's is a string'

In [22]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [23]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [24]:
'Chris' + str(2)

'Chris2'

In [25]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [26]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [27]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [28]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [29]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [30]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [31]:
fname

'Christopher'

In [32]:
lname

'Brooks'

In [33]:
#aparecerá error porque se deben llamar 4 variables y se están llamando solo 3
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

### Más de Python Strings

In [34]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

### Dates y DateTimes Python

In [35]:
import datetime as dt
import time as tm

In [36]:
tm.time()

1517524961.6214492

In [37]:
dtnow = dt.datetime.fromtimestamp(tm.time())
#dtnow = dt.datetime(2018,2,1)
dtnow

datetime.datetime(2018, 2, 1, 17, 42, 55, 184463)

In [38]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 2, 1, 17, 42, 55)

In [39]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

In [40]:
today = dt.date.today()
today

datetime.date(2018, 2, 1)

In [41]:
today - delta # the date 100 days ago

datetime.date(2017, 10, 24)

In [42]:
today > today-delta # compare dates

True